* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    line-height: 1.6;
    background-color: #f8f9fa;
    overflow-x: hidden;
    margin: 0;
}

.header {
    background: #36BF8D;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 40px;
}

.navbar {
    background-color: #343a40;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navbar nav ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.navbar nav ul li {
    margin-left: 3px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    padding: 8px 12px;
    display: block;
    transition: all 0.3s ease;
}

.navbar nav ul li a:hover {
    background-color: #36BF8D;
    color: white;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0px;
    max-width: auto;
}

.sidebar {
    width: 20%;
    background: gray;
    padding: 5px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 8px 20px;
    display: block;
    font-size: 12px;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #36BF8D;
    color: white;
    border-radius: 5px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    font-size: 12px;
}

.main-content h1 {
    margin-bottom: 10px;
    font-size: 18px;
}

.main-content p {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background: #36BF8D;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 10px;
}

.btn:hover {
    background: #36BF8D;
}

.footer {
    background-color: #333;
    color: white;
    padding: 5px 0;
    text-align: center;
    font-size: 10px;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer h5 {
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.footer a {
    color: blue;
    text-decoration: underline;
    margin: 5px 0;
}

.footer a:hover {
    text-decoration: underline;
}

#logo {
    width: 50px;
    height: auto;
}

#imagen {
    border-radius: 10px;
    width: 60%;
    height: auto;
    border: 2px solid #36BF8D;
}

#Explicacion1 {
    text-align: justify;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

ol {
    text-align: justify;
    padding-left: 20px;
    font-size: 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #36BF8D;
    font-size: 10px;
}

th, td {
    border: 2px solid #36BF8D;
    text-align: left;
    padding: 4px 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

caption {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-size: 10px;
}

#Lista {
    text-align: left;
    font-size: 10px;
}

#Titulos a {
    text-decoration: none;
    font-size: 12px;
}
